.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: var(--navbar-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    background: var(--transparent-background-color);
    box-shadow: 4px 0 20px var(--box-shadow-color);
    z-index: 1001;
    box-sizing: border-box;
    transition: top 0.3s ease;
}

.navbar nav a {
    margin-left: 2rem;
    color: var(--text-gray);
    text-decoration: none;
    transition: color 0.2s ease;
}

.nav-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    touch-action: manipulation;

    position: relative;
    z-index: 1002;
}

.nav-toggle span {
    display: block;
    width: 24px;
    height: 2px;
    background: var(--text-gray);
    margin: 5px 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.nav-toggle.open span:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}

.nav-toggle.open span:nth-child(2) {
    opacity: 0;
}

.nav-toggle.open span:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
}

/* Phone view */
@media (max-width: 768px) {

    .social-links {
        justify-content: center;
        margin-top: 1rem;
    }

    /* Navbar */
    .navbar {
        justify-content: center;
        padding: 0;
    }

    .navbar nav a {
        margin-left: 0;
    }

    .nav-toggle {
        display: block;
        position: absolute;
        left: 1rem;
        top: 50%;
        transform: translateY(-50%);
    }

    .nav-menu {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        min-width: 30%;
        background: rgba(18, 24, 33, 0.6);
        backdrop-filter: blur(12px);
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        border-radius: 0 1rem 1rem 0;

        transform: translateX(-100%);
        transition: transform 0.35s cubic-bezier(.4, 0, .2, 1);
        z-index: 1000;
    }

    /* Inner navbar wrapper to maintain padding */
    .nav-menu-inner {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding: 6rem 3.5rem;
    }

    .nav-menu a {
        font-size: 1.1rem;
    }

    .nav-menu.open {
        transform: translateX(0);

        /* Shadow to sharpen edges */
        box-shadow: 4px 0 20px rgba(0, 0, 0, 0.5);
    }

    /* Navbar overlay */
    .nav-overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.4);
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease;
        z-index: 999;
    }

    .nav-overlay.open {
        opacity: 1;
        pointer-events: auto;
    }
}